Mobile.SAP.CRM/SAP.CRM.Gateway/Service References/SAPServiceReference/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_binding">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128Rsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_binding_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128Rsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZIGNMOBILESALESACTIVITY">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>0018FE7972821DEFB0CD97950B095362</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZIgnBpcontactGetlist">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char134">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="134" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char70">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="70" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="lang">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="\d\d:\d\d:\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="Rangesktast">
        <xsd:sequence>
          <xsd:element name="Sign" type="n0:char1" />
          <xsd:element name="Option" type="n0:char2" />
          <xsd:element name="Low" type="n0:char1" />
          <xsd:element name="High" type="n0:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="VbkaTlinekom">
        <xsd:sequence>
          <xsd:element name="Refobjecttype" type="n0:char10" />
          <xsd:element name="Refobjectkey" type="n0:char70" />
          <xsd:element name="DocNumber" type="n0:char10" />
          <xsd:element name="TextId" type="n0:char4" />
          <xsd:element name="Langu" type="n0:lang" />
          <xsd:element name="LangupIso" type="n0:char2" />
          <xsd:element name="TextLine" type="n0:char134" />
          <xsd:element name="Function" type="n0:char3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bus1037VbkakomCr">
        <xsd:sequence>
          <xsd:element name="Refobjecttype" type="n0:char10" />
          <xsd:element name="Refobjectkey" type="n0:char70" />
          <xsd:element name="DocNumber" type="n0:char10" />
          <xsd:element name="Refdoctype" type="n0:char10" />
          <xsd:element name="Refreltype" type="n0:char4" />
          <xsd:element name="ActivityType" type="n0:char4" />
          <xsd:element name="Salesorg" type="n0:char4" />
          <xsd:element name="DistrChan" type="n0:char2" />
          <xsd:element name="Division" type="n0:char2" />
          <xsd:element name="SalesOff" type="n0:char4" />
          <xsd:element name="SalesGrp" type="n0:char3" />
          <xsd:element name="FromDate" type="n0:date" />
          <xsd:element name="ToDate" type="n0:date" />
          <xsd:element name="FromTime" type="n0:time" />
          <xsd:element name="ToTime" type="n0:time" />
          <xsd:element name="Reason" type="n0:char3" />
          <xsd:element name="Result" type="n0:char3" />
          <xsd:element name="ResultExplanation" type="n0:char3" />
          <xsd:element name="State" type="n0:char1" />
          <xsd:element name="FollowUpType" type="n0:char4" />
          <xsd:element name="FollowUpDate" type="n0:date" />
          <xsd:element name="ActivityComment" type="n0:char40" />
          <xsd:element name="Descrpt01" type="n0:char2" />
          <xsd:element name="Descrpt02" type="n0:char2" />
          <xsd:element name="Descrpt03" type="n0:char2" />
          <xsd:element name="Descrpt04" type="n0:char2" />
          <xsd:element name="Descrpt05" type="n0:char2" />
          <xsd:element name="Descrpt06" type="n0:char3" />
          <xsd:element name="Descrpt07" type="n0:char3" />
          <xsd:element name="Descrpt08" type="n0:char3" />
          <xsd:element name="Descrpt09" type="n0:char3" />
          <xsd:element name="Descrpt10" type="n0:char3" />
          <xsd:element name="TxtKonse" type="n0:char1" />
          <xsd:element name="Direction" type="n0:char1" />
          <xsd:element name="PartnRole" type="n0:char2" />
          <xsd:element name="PartnId" type="n0:char10" />
          <xsd:element name="ContactRole" type="n0:char2" />
          <xsd:element name="Contact" type="n0:numeric10" />
          <xsd:element name="Langu" type="n0:lang" />
          <xsd:element name="LanguIso" type="n0:char2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="VbkaVbpa2kom">
        <xsd:sequence>
          <xsd:element name="Refobjecttype" type="n0:char10" />
          <xsd:element name="Refobjectkey" type="n0:char70" />
          <xsd:element name="DocNumber" type="n0:char10" />
          <xsd:element name="ItmNumber" type="n0:numeric6" />
          <xsd:element name="CountParvw" type="n0:numeric6" />
          <xsd:element name="PartnRole" type="n0:char2" />
          <xsd:element name="PartnRoleOld" type="n0:char2" />
          <xsd:element name="PartnId" type="n0:char10" />
          <xsd:element name="PartnIdOld" type="n0:char10" />
          <xsd:element name="AddrNo" type="n0:char10" />
          <xsd:element name="PersNo" type="n0:char10" />
          <xsd:element name="Addrtype" type="n0:char1" />
          <xsd:element name="AddrOrigin" type="n0:char1" />
          <xsd:element name="UnloadPt" type="n0:char25" />
          <xsd:element name="CalendarUpdate" type="n0:char1" />
          <xsd:element name="AddrLink" type="n0:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiRangesktast">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Rangesktast" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiVbkaTlinekom">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:VbkaTlinekom" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiBus1037VbkakomCr">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bus1037VbkakomCr" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiVbkaVbpa2kom">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:VbkaVbpa2kom" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZIgnBpcontactGetlist">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Customer" type="n0:char10" />
            <xsd:element minOccurs="0" name="DaysBackward" type="xsd:int" />
            <xsd:element minOccurs="0" name="DaysForward" type="xsd:int" />
            <xsd:element minOccurs="0" name="MyCustomers" type="n0:char1" />
            <xsd:element minOccurs="0" name="MySalesActivity" type="n0:char1" />
            <xsd:element minOccurs="0" name="Status" type="tns:TableOfBapiRangesktast" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZIgnBpcontactGetlistResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Businesspartner" type="tns:TableOfBapiVbkaVbpa2kom" />
            <xsd:element name="Generaldata" type="tns:TableOfBapiBus1037VbkakomCr" />
            <xsd:element name="Text" type="tns:TableOfBapiVbkaTlinekom" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZIgnBpcontactGetlist">
    <wsdl:part name="parameters" element="tns:ZIgnBpcontactGetlist" />
  </wsdl:message>
  <wsdl:message name="ZIgnBpcontactGetlistResponse">
    <wsdl:part name="parameter" element="tns:ZIgnBpcontactGetlistResponse" />
  </wsdl:message>
  <wsdl:portType name="ZIGNMOBILESALESACTIVITY">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://sfsqvyrb.sap-cc.com:8000/sap/bc/esdt/docu/sd_text?sap-client=800&amp;sd_name=ZIGNMOBILESALESACTIVITY" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZIGNMOBILESALESACTIVITY" />
    </wsp:Policy>
    <wsdl:operation name="ZIgnBpcontactGetlist">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZIgnBpcontactGetlist" />
      </wsp:Policy>
      <wsdl:input message="tns:ZIgnBpcontactGetlist" />
      <wsdl:output message="tns:ZIgnBpcontactGetlistResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding" type="tns:ZIGNMOBILESALESACTIVITY">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_binding" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZIgnBpcontactGetlist">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="binding_SOAP12" type="tns:ZIGNMOBILESALESACTIVITY">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_binding_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZIgnBpcontactGetlist">
      <wsoap12:operation soapAction="" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZIGNMOBILESALESACTIVITY">
    <wsdl:port name="binding" binding="tns:binding">
      <soap:address location="http://sfsqvyrb.sap-cc.com:8000/sap/bc/srt/rfc/sap/zignmobilesalesactivity/800/zignmobilesalesactivity/binding" />
    </wsdl:port>
    <wsdl:port name="binding_SOAP12" binding="tns:binding_SOAP12">
      <wsoap12:address location="http://sfsqvyrb.sap-cc.com:8000/sap/bc/srt/rfc/sap/zignmobilesalesactivity/800/zignmobilesalesactivity/binding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>